# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.so

# Virtual environment
.venv
venv
ENV

# Streamlit
.streamlit/secrets.toml

# AI cache
.ai_cache.json
.history_cache.json

# IDE / Editor specific
.vscode/
.idea/

# SQL files
*.sql
queries/
prompts/
.vscode/
